<%- layout('./layouts/boilerplate') %>

    <div class="row mx-3" style="margin-top: 80px;">
        <div class="col-xxl-10 col-xl-10 col-lg-11 col-md-9 mx-auto">
            <%- include('../partials/flash.ejs') %>
        </div>
    </div>
    <div class="container-md container-sm" style="margin-bottom: 92px;">
        <h1 class="display-6 orders-heading" style="font-weight: 350;">My Orders</h1>
    </div>
    <div class="row mx-3">
        <div class="col-xxl-6 col-xl-7 col-lg-9 col-sm-10 mx-auto">
            <%for(let order of orders){%>
                <div class="card mb-5 bg-light">
                    <div class="card-header p-3 text-center">
                        <h5 class="mb-3">Total Amount :
                            <%=parseInt(order.txnAmt).toLocaleString('en-IN', { style: 'currency', currency: 'INR'})%>
                        </h5>
                        <p class="card-text">Transaction ID :
                            <%=order.txnId%>
                        </p>
                        <p class="card-text">Order Date :
                            <%=order.date.toDateString()%>
                        </p>
                    </div>
                    <div class="card-body p-4">
                        <%for(let orderedProduct of order.orderedProducts){%>
                            <div class="card mb-3 p-2 mx-auto" style="width: 30rem;">
                                <div class="d-flex">
                                    <div class="mt-1">
                                        <img src="<%=orderedProduct.productImage%>" class="rounded-start" width="180px">
                                    </div>
                                    <div class="card-body">
                                        <%if(orderedProduct.productExist){%>
                                            <a class="text-decoration-none" href="/products/<%=orderedProduct.productId%>">
                                                <h5 class="card-title underline">
                                                    <%=orderedProduct.productName%>
                                                </h5>
                                            </a>
                                            <p class="fw-bold mt-2">Qty :
                                                <%=orderedProduct.quantity%>
                                            </p>
                                            <a href="/products/<%=orderedProduct.productId%>" class="btn btn-sm btn-info text-white">Buy Again</a>
                                            <%}else{%>
                                                <h5 class="card-title">
                                                    <%=orderedProduct.productName%>
                                                </h5>
                                                <p class="fw-bold mt-2">Qty :
                                                    <%=orderedProduct.quantity%>
                                                </p>
                                                <p class="card-text">Sorry, the seller of this product is unavailable!!</p>
                                                <%}%>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </div>
                </div>
                <%}%>
        </div>
    </div>

    <style>
        @media screen and (max-width: 662px) {
            body {
                width: 662px;
            }
        }
    </style>